<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coloboradores (Jorge Chicana)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form th:action="@{/grabar}" th:object="${producto}" method="post">
        <input type="hidden" th:field="*{idProducto}" />
        <br/>
        <label for="categoria">Categoria</label>
        <input type="text" id="categoria" th:field="*{categoria}" />
        <br/>
        <label for="nombreProducto">Producto</label>
        <input type="text" id="nombreProducto" th:field="*{nombreProducto}" />
        <br/>
        <label for="descripcion">Descripcion</label>
        <input type="text" id="descripcion" th:field="*{descripcion}" />
        <br/>
        <label for="precio">Precio</label>
        <input type="text" id="precio" th:field="*{precio}" />
        <br/>
        <label for="stock">Stock</label>
        <input type="text" id="stock" th:field="*{stock}" />
        <br/>
        <input type="submit" value="Guardar"/>
    </form>
</body>
</html>